<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8 offset2">
            <div class="row-fluid oauth-container">
                <div class="span8 oauth-scope">

                    <h5>@ViewBag.SiteName is requesting permission to:</h5>
                    <ul>
                        <li>Access to your City Index trading account.</li>
                    </ul>
                    <form class="form-signin form-inline" action="" method="POST">
                        To allow access to @ViewBag.SiteName, login below
                        <hr />
                        <div class="alert alert-" id="errDiv" style="display:none">
                            <button type="button" class="close" data-dismiss="alert">
                                &times;</button>
                            <span id="errMessage"></span>
                        </div>

                        <div class="control-group @ViewBag.UidAlert">
                            <div class="controls">
                                <input type="text" class="input-block-level span8" placeholder="Username" id="tb_uid" name="username" value="@ViewBag.Uid">
                                <span class="help-inline">@ViewBag.UidLabel </span>
                            </div>
                        </div>
                        <div class="control-group @ViewBag.PwdAlert">
                            <div class="controls">
                                <input type="password" class="input-block-level span8" placeholder="Password" id="tb_pwd" name="password"
                                    value="">
                                <span class="help-inline">@ViewBag.PwdLabel</span>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="button" id="login">
                            Login</button>
                        <button class="btn btn-primary" type="button" name="cancel">
                            Cancel</button>
                    </form>
                </div>
                <div class="span4 oauth-third-party">
                    <a class="brand" href="@ViewBag.AboutURL" target="_blank"  >
                        <img src="@ViewBag.ClientLogo" alt="@ViewBag.SiteName"/>
                    </a>
                    <div class="caption">
                        <h5>@ViewBag.SiteName</h5>
                        <a href="@ViewBag.AboutURL" class="learnmore" target="_blank">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- figure out how to render scripts after razor -->
    <script src="/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        var target = location.hash.substring(1);

        var host = window.opener.frames[target];

        if (window.opener) {
            try {
                if (window.opener.document.title) {
                    host = window.opener;
                }
            }
            catch (xDomainError) {
                host = window.opener.frames[target];
            }
            if (host) {
                try {
                    host.setApp(window);
                }
                catch (browserHostError) {
                    alert("was unable to gain a reference to the iframe");
                }
            }
        }
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            var passwordChangeRequired = false;
            var token = null;


            $("#login").click(doLogin);





            function doLogin() {

                // validateForm();


                $("#div_login").attr("disabled", "true");

                $.post("@Url.Action("Login", "Authorize")",
                        {
                            username: $("#tb_uid").val(),
                            password: $("#tb_pwd").val()
                            //,new_password: $("#tb_new_pwd_1").val()
                        },
                        function (data, status, xhr) {

                            //$("#div_change_password").hide();
                            $("#div_error").text("");
                            $("#div_login").attr("disabled", null);
                            if (data.success) {

                                token = data.token;
                                $("#div_login").hide();
                                host.sendData(token);

                                // do something
                            } else {
                                $("#errDiv").show();
                                $("#errMessage").text(data.reason);

                            }
                        });
            };




            function validateForm() {
                // validate uid and pwd
                if (!$("#tb_uid").val() || !$("#tb_pwd").val()) {
                    $("#div_error").text("All fields are required");

                    return;
                }


                if (passwordChangeRequired) {

                    // validate new password fields 

                    if (!$("#tb_new_pwd_1").val() || !$("#tb_new_pwd_2").val()) {
                        $("#div_error").text("All fields are required");

                        return;
                    }
                    if ($("#tb_new_pwd_1").val() != $("#tb_new_pwd_2").val()) {

                        $("#div_error").text("New password and confirmation are not the same");

                        return;
                    }

                }
            }

        });
    </script>
</div>


