
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">City Index Authorization v1</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
                <h2>Change Password</h2>
            </hgroup>
             
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>LOGIN</h3>
        <form action="" method="post">
            <table>
                <tr>
                    <td>Username:</td><td><input type="text" name="username" value="XX658109" />@ViewBag.UidLabel</td>
                </tr>
                <tr>
                    <td>Password:</td><td><input type="password" name="password" value="" />@ViewBag.PwdLabel</td>
                </tr>
                <tr>
                    <td>New Password:</td><td><input type="password" name="newpassword" value="" />@ViewBag.NewPwdLabel</td>
                </tr>
                <tr>
                    <td>Confirm New Password:</td><td><input type="password" name="confirmnewpassword" value="" />@ViewBag.ConfirmNewPwdLabel</td>
                </tr>
                <tr>
                    <td><input name="changepassword" type="submit"  value="Change Password"/></td>
                     
                </tr>
            </table>
            @ViewBag.ErrorMessage
        </form>
    </section>
</div>