<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8 offset2">
            <div class="row-fluid oauth-container">
                <div class="span8 oauth-scope">
                    <h5>Someapp.com is requesting permission to:</h5>
                    <ul>
                        <li>Access to your City Index trading account.</li>
                    </ul>
                    <form class="form-signin form-inline" action="" method="POST">
                        <h5>To allow access to Someapp.com, login below</h5>
                        <hr />
                        @if (ViewBag.ErrorMessage != "")
                        {
                            <div class="alert alert-@ViewBag.ErrorType"><button type="button" class="close" data-dismiss="alert">&times;</button>
                                @ViewBag.ErrorMessage
                            </div>                    
                        }
                        <div class="control-group @ViewBag.UidAlert">
                            <div class="controls">
                                <input type="text" class="input-block-level span8" placeholder="Username" name="username" value="@ViewBag.Uid">
                                <span class="help-inline">@ViewBag.UidLabel </span>
                            </div>
                        </div>
                        <div class="control-group @ViewBag.PwdAlert">
                            <div class="controls">
                                <input type="password" class="input-block-level span8" placeholder="Password" name="password" value="">
                                <span class="help-inline">@ViewBag.PwdLabel</span>
                            </div>
                        </div>                
                        <button class="btn btn-primary" type="submit" id="login">Login</button>
                        <button class="btn btn-primary" type="submit" name="cancel">Cancel</button>
                    </form>  
                </div>
                <div class="span4 oauth-third-party">
                   
                    <a class="brand" href="#">@ViewBag.SiteName</a>
                    <div class="caption">
                        <h5>Someapp.com</h5>
                        <a href="#" class="learnmore">Learn more</a>
                   
                </div>
                </div>       
            </div>
          
        </div>
    </div>
</div>