
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">City Index Authorization v1</a></p>
        </div>
    </div>

 
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
                <h2>@ViewBag.SiteName is requesting access to your City Index trading account.</h2>
            </hgroup>
            <p>
                If you would like to grant @ViewBag.SiteName authority to access your City Index trading account on your behalf please login here with your City Index credentials.

            </p>
        
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>LOGIN</h3>
        <form action="" method="post">
            <table>
                <tr>
                    <td>Username:</td><td><input type="text" name="username" value="XX658109" />@ViewBag.UidLabel</td>
                </tr>
                <tr>
                    <td>Password:</td><td><input type="password" name="password" value="password" />@ViewBag.PwdLabel</td>
                </tr>
                
                <tr>
                    <td><input name="login" type="submit"  value="Login"/></td>
                    <td><input name="cancel" type="submit" value="Cancel"/></td>
                </tr>
            </table>
            @ViewBag.ErrorMessage
            
     
        </form>
    </section>
</div>