@model CIAuth.Web.Models.Token

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Token</legend>


    <div class="display-label">
        @Html.DisplayNameFor(model => model.Application.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Application.UserProfile.UserName)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Application.ApplicationName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Application.ApplicationName)
    </div>
<div class="display-label">
        @Html.DisplayNameFor(model => model.Expires)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Expires)
    </div>


    <div class="display-label">
        @Html.DisplayNameFor(model => model.Scope)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Scope)
    </div>


    <div class="display-label">
        @Html.DisplayNameFor(model => model.LastAccessed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastAccessed)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
